@{
    ViewData["Title"] = "HireMe";
}


<h1>@ViewData["Title"]</h1>
<p>I have created portfolio applications below that you might want to explore.</p>
<p> And If you are interested in hiring me, please contact me at: <a href="mailto:klengocodes@gmail.com">klengocodes@gmail.com</a></p>