@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Portal</h1>
</div>
<div>
    <p>Welcome to the Home Portal of the P001EK project. This portal provides access to various resources and information related to the project.</p>
    <ul>
        <li><a href="/About">About</a></li>
        <li><a href="/Contact">Contact Information</a></li>
        <li><a href="/Services">Our Services</a></li>
    </ul>